.root {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.2px;
  font-size: var(--base-size);
  background-color: var(--highlight-color);
  color: var(--light-color);
  border-radius: 30px;
  padding: 20px 50px;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.root:hover {
  background-color: var(--highlight-dark-color);
}
