:root {
  --header-height: 110px;
  --container-width: 1300px;

  --heading-1-size: 58px;
  --heading-2-size: 52px;
  --heading-3-size: 42px;
  --heading-4-size: 32px;
  --heading-5-size: 26px;

  --xl-size: 24px;
  --lg-size: 18px;
  --base-size: 15px;
  --sm-size: 13px;

  --light-color: #fff;
  --highlight-color: #d4b254;
  --highlight-dark-color: #c8a74b;
  --base-color: #222;
  --text-color: #777;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

@media screen and (max-width: 1340px) {
  .container {
    padding: 0 20px;
  }
}
